<div class="container">
    <div class="header-setting">
        <div class="row">
            <div class="col-1">
                <img src="assets/images/Solid.png" class="img-responsive" alt="Image" routerLink="/bodylivehub">
            </div>
            <div class="col">Thiết lập tài khoản</div>
        </div>
    </div>
    <hr>
    <div class="row-item">
        <div class="d-flex align-items-center " >
            <div class="col-11 ">
                <span>Thông tin cá nhân & tài khoản </span>
                <br>
                <small>Quản lý thông tin cá nhân và các thiết lập tài khoản</small>
            </div>
            <div class="col-12">
                <img src="assets/images/arrow-right.png" alt="">
            </div>
        </div>
    </div>
    <hr>
    <div class="row-item">
        <div class="d-flex align-items-center " >
            <div class="col-11 ">
                <span>Thông tin thanh toán </span>
                <br>
                <small>Tài khoản mặc định:***********9</small>
                <br>
                <small>Ngân hàng: Viettinbank</small>
            </div>
            <div class="col-12">
                <img src="assets/images/arrow-right.png" alt="">
            </div>
        </div>
    </div>
    <hr>
    <div class="row-item">
        <div class="d-flex align-items-center " >
            <div class="col-11 ">
                <span>Khai báo thuế </span>
                <br>
                <small>Mã số thuế 0123456789</small>
            </div>
            <div class="col-12">
                <img src="assets/images/arrow-right.png" alt="">
            </div>
        </div>
    </div>
    <hr>
    <div class="row-item">
        <div class="d-flex align-items-center " >
            <div class="col-11 ">
                <span>Thông tin giới thiệu</span>
                <br>
                <small>Một số thông tin cơ bản về bạn giúp ACCESSTRADE đưa ra các gợi ý việc làm phù hợp nhất</small>
            </div>
            <div class="col-12">
                <img src="assets/images/arrow-right.png" alt="">
            </div>
        </div>
    </div>
    <hr>
    <div class="row-item">
        <div class="d-flex align-items-center " routerLink="/electric-contact">
            <div class="col-11 ">
                <span>Định danh & ký hợp đồng điện tử</span>
                <br>
            </div>
            <div class="col-12">
                <img src="assets/images/arrow-right.png" alt="">
            </div>
        </div>
    </div>
</div>