<app-header></app-header>

    <div class="d-flex align-items-center justify-content-between">
        <div class="body-text">
            <span>Thẻ thành viên ACCESSTRADE </span>
            <br>
            <span>Mở liền tay - Nhận ngay 60.000đ</span>
            <div class="btn-recive">
                <h1>Nhận thẻ ngay</h1>
              <h2>test git</h2>
            </div>
        </div>
        <div class="banner-images">
            <img src="assets/images/Cake-img.png" alt="" height="120.16px" width="150.89px">
        </div>
    </div>
   <div class="profile-menu">
    <div class="d-flex align-items-center " >
        <div class="col-1">
        <img src="assets/images/giftbox 1.png" alt="">
        </div>
        <div class="col-9">
            <span>Mời thêm bạn, kiếm thêm tiền </span>
            <br>
            <span>Nhận ngay 50k khi mời bạn bè cài app  </span>
        </div>
        <div class="col-12">
            <img src="assets/images/arrow-right.png" alt="">
        </div>
    </div>
</div>
<br>
<div class="container">
<div class="row-item">
    <div class="d-flex align-items-center ">
        <div class="col-1">
        <img src="assets/images/briefcase.png" alt="">
        </div>
        <div class="col-9">
            <span> Việc làm của tôi  </span>
        </div>  
        <div class="col-12">
            <img src="assets/images/arrow-right.png" alt="">
        </div>
    </div>
    <hr>
    <div class="d-flex align-items-center ">
        <div class="col-1">
        <img src="assets/images/line-chart-up-02.png" alt="">
        </div>
        <div class="col-9">
            <span>Quản lý bài đăng</span>
        </div>
        <div class="col-12">
            <img src="assets/images/arrow-right.png" alt="">
        </div>
    </div>
    <hr>
    <div class="d-flex align-items-center ">
        <div class="col-1">
        <img src="assets/images/Icon.png" alt="">
        </div>
        <div class="col-9">
            <span>Kho qua tặng</span>
        </div>
        <div class="col-12">
            <img src="assets/images/arrow-right.png" alt="">
        </div>
    </div>
    <hr>
    <div class="d-flex align-items-center ">
        <div class="col-1">
        <img src="assets/images/link-03.png" alt="">
        </div>
        <div class="col-9">
            <span>Lịch sử tạo link </span>
        </div>
        <div class="col-12">
            <img src="assets/images/arrow-right.png" alt="">
        </div>
    </div>
    <hr>
    <div class="d-flex align-items-center " routerLink="/chatbot">
        <div class="col-1">
        <img src="assets/images/link-03.png" alt="">
        </div>
        <div class="col-9">
            <span> Chat GPT </span>
        </div>
        <div class="col-12">
            <img src="assets/images/arrow-right.png" alt="" >
        </div>
      
    </div>
</div>

<div class="device">
    <div>
        <h1>Thiết lập & cài đặt </h1>
    </div>
</div>
<br>
<div class="d-flex align-items-center "  routerLink="/register" >
    <div class="col-1">
    <img src="assets/images/icon-leading-row.png" alt="">
    </div>
    <div class="col-9">
        <span> Thiết lập tài khoản </span>
    </div>  
    <div class="col-12">
      <a ><img src="assets/images/arrow-right.png" alt=""> </a>
    </div>
</div>                         
</div>
<app-footer></app-footer>
