<header>
    <div class="container" style="background-image: url('assets/images/background.jpg')">
        <div class="header-first-row">
            <div class="d-flex align-items-center justify-content-between">
                <div class="header-text">
                    <h1>Nguyễn Quang</h1>
                    <h5>Aymer</h5>
                </div>
                
                <div class="btn-icon">
                    <img class="btn-icon-notice" src="assets/images/btn-icon.png" alt="image">
                    <img class="btn-icon-setting" src="assets/images/setting-2.png" alt="image">
                </div>
            </div>
        </div>
        <div class="top-inf">
            <div class="d-flex align-items-center justify-content-left">

                <div class="info-image">
                    <img src="assets/images/Ellipse 1182.png" alt="profile" width="96px" height="96px">
                </div>
                <div class="tag-member">
                    <img src="assets/images/Tag-member.png" alt=" " width="126px" height="36px">
                    <h1>Cần thêm 460tr</h1>
                </div>
                <div class="level-bar">
                </div>
            </div>
        </div>
        
      <div class="row justify-content-center align-items-center g-2">
        <div class="col">
            <div class="stat-item">
                <span class="stat-value">19,678</span>
                <span class="stat-label">ngày gắn bó</span>
            </div>
        </div>
        <div class="col">
            <div class="stat-item">
                <span class="stat-value">540tr</span>
                <span class="stat-label">điểm thu nhập</span>
            </div>
        </div>
        <div class="col">
            <div class="stat-item">
                <span class="stat-value">120</span>
                <span class="stat-label">điểm ATSP</span>
            </div>
        </div>
        <div class="col">
            <div class="stat-item">
                <span class="stat-value">30</span>
                <span class="stat-label">việc làm</span>
            </div>
        </div>
      </div>
    </div>
</header>