<footer>
    <hr>
   <div
    class="row justify-content-between align-items-between g-2"
   >
    <div class="col">
        <img src="assets/images/global.png" alt="">
        <br>    
        Khám phá
    </div>
    <div class="col">
        <img src="assets/images/document.png" alt=""><br>
        Bản tin
    </div>
    <div class="col">
        <img src="assets/images/AT.png" alt=""><br>
        Việc làm</div>
    <div class="col">
        <img src="assets/images/chart-square.png" alt=""><br>
        Báo cáo </div>
    <div class="col">
        <img src="assets/images/Avatar-menber.png" alt=""><br>
        Cá nhân</div>
   </div>
</footer>