
<div class="container">
    <div class="header-setting"  >

        <div class="row"  >
            <div class="col-1">
                <img src="assets/images/Solid.png" class="img-responsive" alt="Image"  routerLink="/electric-contact">
            </div>
            <div class="col">Hợp đồng điện tử</div>
        </div>
    </div>
</div>
    <div class="space"></div>
    <div class="progress-steps">
        <div class="content">    
           <div class="row justify-content-center align-items-center g-2">        
                <div class="content-wrapper">
                    <img src="assets/images/Content.png" class="img-responsive1" alt="Image">
                    <div class="progress-bar"></div>
                    <img src="assets/images/_Step base.png" class="img-responsive1" alt="Image">
                    <div class="progress-bar1"></div>
                    <img src="assets/images/_Step icon base.png" class="img-responsive1" alt="Image">
                  </div>
           </div>
        </div>
    </div>
    <div class="text-content">
        <h5>Bước 2:</h5>
        <br>
        <span>Thực hiện EKYC</span>
    </div>
    <hr>
    
      <div class="space2">
        <div class="space2-text">
            <img src="assets/images/Icon.png" alt="">
            <br>
            <span>Web nhúng eContract FPT</span>
        </div>
      </div>
      <div class="space-3">
        
      </div>
      <div class="wall"></div>
    <footer>
        <div class="container2">
            <div class="btn-back"  routerLink="/electric-contact">
                <h6>Quay lại </h6>
            </div>
            <div class="btn-continuos" routerLink="/electric-assign" >
                <h5>Tiếp tục</h5>
            </div>
        </div>
    </footer> 


