
    <div class="header-setting"  >

        <div class="row"  >
            <div class="col-1">
                <img src="assets/images/Solid.png" class="img-responsive" alt="Image"  routerLink="/electric-web">
            </div>
            <div class="col">Hợp đồng điện tử</div>
        </div>
    </div>

    <div class="space"></div>
    <div class="container">
    <div class="progress-steps">
        <div class="content">    
           <div class="row justify-content-center align-items-center g-2">        
                <div class="content-wrapper">
                    <img src="assets/images/Content.png" class="img-responsive1" alt="Image">
                    <div class="progress-bar"></div>
                    <img src="assets/images/Content.png" class="img-responsive1" alt="Image">
                    <div class="progress-bar1"></div>
                    <img src="assets/images/_Step icon base.png" class="img-responsive1" alt="Image">
                  </div>
           </div>
        </div>
    </div>
    <div class="text-content">
        <h5>Bước 3:</h5>
        <br>
        <span>Ký hợp đồng điện tử</span>
    </div>
    <hr>
    <div class="verify-info">
        <span>Xác thực lại thông tin </span>
        <br>
        <small>Thông tin bạn điền vào được sử dụng để tạo hợp đồng và cần khớp với thông tin trên căn cước công dân và sử dụng để ekyc khi ký hợp đồng </small>
    </div>
    <hr>
    <div class="">
        <span>Thông tin định danh </span>
    </div>
    
    <form action="" method="POST" role="form">
        <div class="form-group">
            <label for="">Họ và tên</label>
            <input type="text" class="form-control" id="" placeholder="Nguyễn Văn A">
        </div>
        <div class="form-group">
            <label for="">Số CCCD/CMND </label>
            <input type="text" class="form-control" id="" placeholder="0123456789999">
        </div>
        <div class="form-group">
            <label for="">Ngày sinh</label>
            <input type="text" class="form-control" id="" placeholder="01/01/2000">
        </div>
        <div class="form-group">
            <label for="">Ngày cấp</label>
            <input type="text" class="form-control" id="" placeholder="Hà Nội">
        </div>
        <div class="form-group">
            <label for="">Địa chỉ thưởng trú</label>
            <input type="text" class="form-control" id="" placeholder="97-99 Láng Hạ, Đống Đa, Hà Nội">
        </div>
        <div class="form-group">
            <label for="">Nơi cấp</label>
            <input type="text" class="form-control" id="" placeholder="Cục trưởng cục cảnh sát quản lý hành chính về trật tự xã hội">
        </div>
        <hr>
        <span>Thông tin cơ bản </span>
        <div class="form-group">
            <label for="">Số điện thoại</label>
            <input type="text" class="form-control" id="" placeholder="0123456789">
        </div>
        <div class="form-group">
            <label for="">Mã số thuế</label>
            <input type="text" class="form-control" id="" placeholder="4958899">
        </div>
    </form>
    <footer>
        <div class="container2">
            <div class="btn-back"  routerLink="/electric-contact">
                <h6>Quay lại </h6>
            </div>
            <div class="btn-continuos" routerLink="/electric-assign" >
                <h5>Tiếp tục</h5>
            </div>
        </div>
    </footer> 
</div>