
<div class="container">
    <div class="header-setting" [routerLink]="['/register']" >
        <div class="row"  >
            <div class="col-1">
                <img src="assets/images/Solid.png" class="img-responsive" alt="Image"   >
            </div>
            <div class="col">Hợp đồng điện tử</div>
        </div>
    </div>
</div>
<div class="space"></div>
<div class="container3">
    <div class="progress-steps">
        <div class="content">    
           <div class="row justify-content-center align-items-center g-2">        
                <div class="content-wrapper">
                    <img src="assets/images/_Step base.png" class="img-responsive1" alt="Image">
                    <div class="progress-bar"></div>
                    <img src="assets/images/_Step icon base.png" class="img-responsive1" alt="Image">
                    <div class="progress-bar"></div>
                    <img src="assets/images/_Step icon base.png" class="img-responsive1" alt="Image">
                  </div>
           </div>
        </div>
    </div>
    <div class="text-content">
        <h5>Bước 1:</h5>
        <br>
        <span>Xác thực thông tin thanh toán</span>
    </div>
    <hr>
    <div class="information">
        <div class="d-flex align-items-center justify-content-between">
          <div class="text">
            <h5>Thông tin thanh toán</h5>
          </div>
          <div class="btn-add">
            <button>+ Thêm</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="block-bank-acc">
        <span>Bạn chưa có thông tin thanh toán</span>
        <br>
        <small>Thêm thông tin thanh toán ngay để nhận hoa hồng đúng hạn  </small>
      </div>
    </div>
      <div class="space2">
        
      </div>

<app-footer-eletric></app-footer-eletric>